* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $font-color-primary;
    font-size: $font-size-base;
}

.page {
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 9rem;
    overflow-x: hidden;

    @include media-breakpoint-down(sm) {
        padding: 1.5rem 0;
        background-color: red;
    }
}

.absolute-center-page__content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.page-header {
    font-size: $font-size-xl;
    font-weight: 600;
}

.page-sub-header {
    padding-top: 0.25rem;
    opacity: 0.8;
}

.branding {
    max-width: 380px;
    margin: auto;

    img {
        width: 100%;
    }
}

.backdrop {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    z-index: 900;
    display: none;

    &--active {
        display: block;
    }
}
.invalid-feedback {
    text-align: left;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: #2660b7;
}
