.dashboard {
    &__upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        margin: 3rem 0;

        .card {
            flex: 1;
        }

        &__card {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 2rem;
            padding: 1.5rem 2.5rem;

            &__image {
                width: 100px;
            }

            &__info {
                font-weight: 600;
                &__label {
                    font-size: $font-size-md;
                    opacity: 0.65;
                }

                &__number {
                    font-size: $font-size-xl;
                }
            }
        }
    }
}
