// Base font sizes
$font-size-xl: 1.9rem;
$font-size-lg: 1.45rem; //30
$font-size-md: 1.25rem; //28
$font-size-base: 1rem; //24
$font-size-sm: 0.875rem; //16
$font-size-xs: 0.75rem; //14

$header-font: 4rem;
$header-line-height: 4.8rem;
$header-weight: 700;

// Page width
$page-width-xxl: 1320px;
$page-width-xl: 1140px;
$page-width-lg: 960px;
$page-width-md: 720px;
$page-width-sm: 540px;
$page-width-xs: 100%;

//Background color
// $background-color: #fff9f1;
$background-color: #fffcfc;
$background-footer: #121029;

$font-color-primary: black;
$font-color-secondary: #ccc;

// Colors
$primary-btn-color: #337f76;
$primary-btn-hover-color: #26655e;
$danger-btn-color: #c8170c;
$success-btn-color: #1fb248;
$secondary-color: #d6aa23;
